<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>Index</title>
    <script src="/asset/scripts/LAB.js"></script>
    <link rel="stylesheet" href="/asset/css/pure.css">
    <link rel="stylesheet" href="/asset/css/pure-grid.css">
    <link rel="stylesheet" href="/asset/css/main.css">
</head>

<body>
    <div class="pure-g">
        <sectio class="pure-u-1 news">
            <div class="news-header" >
                <a class="news-link news-link-ltl hidden" href="">
                    News
                </a>
            </div>
            <article class="media">
                <a class="" href="">
                    <img class="media-object" src="/asset/test.jpg" alt="media 1" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">THis is the header</h4>
                    <p class="media-content">THis is the content that needs to be properly wrapped and ashown</p>
                </div>
            </article>
            <article class="media">
                <a class="" href="">
                    <img class="media-object" src="/asset/test.jpg" alt="media 1" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">THis is the header</h4>
                    <p class="media-content">THis is the content that needs to be properly wrapped and ashown</p>
                </div>
            </article>
        </sectio>
        <sectio class="pure-u-1 grid-rtl news">
            <div class="news-header" >
                <a class="news-link news-link-rtl visible" href="">
                    Khabar
                </a>
            </div>
            <article class="media media-rtl">
                <div class="media-body">
                    <h4 class="media-heading">THis is the header</h4>
                    <p class="media-content">THis is the content that needs to be properly wrapped and ashown</p>
                </div>
                <a class="" href="">
                    <img class="media-object" src="/asset/test.jpg" alt="media 1" />
                </a>
            </article>
            <article class="media media-rtl">
                <div class="media-body">
                    <h4 class="media-heading">THis is the header</h4>
                    <p class="media-content">THis is the content that needs to be properly wrapped and ashown</p>
                </div>
                <a class="" href="">
                    <img class="media-object" src="/asset/test.jpg" alt="media 1" />
                </a>
            </article>
        </sectio>
    </div>
    <script src="/asset/scripts/output.js"></script>
</body>
